<app-spinner *ngIf="spinner"></app-spinner>
<div class="row">
    <div class="col-12 list justify-content-between p-0">
        <div class="card border-0 p-0 justify-content-center">
            <div class="row">

                <div class="col-6 text-center">
                    <img src="{{detailsCard.card.imageUrlHiRes}}" class="w-50
                        card-img">
                </div>
                <div class="col-6">
                    <h2>{{detailsCard.card.name}}</h2>
                    <p>
                        {{detailsCard.card.id}} -
                        {{detailsCard.card.types}}
                    </p>
                    <hr>
                    <p>
                        {{detailsCard.card.ability.text}}
                    </p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Ataques:</h5>
                        <li *ngFor="let attacks of
                            detailsCard.card.attacks; let
                            i=
                            index" [attr.data-index]="i"
                            class="">
                            <p>Cursto de mana:
                                {{detailsCard.card.attacks[i].convertedEnergyCost}}</p>
                            <p>Nome:
                                {{detailsCard.card.attacks[i].name}}</p>
                            <p>Dano:{{detailsCard.card.attacks[i].damage}}</p>
                            <p
                                *ngIf="detailsCard.card.attacks[i].text">Descrição:{{detailsCard.card.attacks[i].text}}</p>
                            <ul
                                *ngIf="detailsCard.card.attacks[i].resistances">
                                Resistencia(s):
                                <li *ngFor="let resistances of
                                    detailsCard.card.attacks[i].resistances;
                                    let i= index"
                                    [attr.data-index]="i">
                                    <p>Resistencia
                                        á:{{detailsCard.card.attacks[i].resistances[i].type}}</p>
                                    <p>Valor:{{detailsCard.card.attacks[i].resistances[i].value}}</p>
                                </li>
                            </ul>
                            <ul
                                *ngIf="detailsCard.card.attacks[i].weaknesses">
                                Fraqueza(s):
                                <li *ngFor="let weaknesses of
                                    detailsCard.card.attacks[i].weaknesses;
                                    let i= index"
                                    [attr.data-index]="i">
                                    <p>Resistencia
                                        á:{{detailsCard.card.attacks[i].weaknesses[i].type}}</p>
                                    <p>Valor:{{detailsCard.card.attacks[i].weaknesses[i].value}}</p>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
